# Ignore Pycharm and Python files
.idea/
__pycache__

# Ignore rules of pure "Treada" folder
TreadaTx_C/**
!TreadaTx_C/README.txt
!wrapper/core/treada_io_handler.py

data/
!data/input/scenarios

# Ignore installer files
installer_x64/*.log

# Ignore the main configutaion file
wrapper/config/config.json

# Ignore states machine service file
wrapper/states/current_state.json

# Ignore other txt files
wrapper/misc/*.txt

# Ignore subtasks data-collection scripts
wrapper/misc/collections/
