{
    "scenario": {
        "active_name": "dark_light_dark_scenario"
    },
    "modes": {
        "udrm_vector_mode": false,
        "mtut_dataframe": false
    },
    "flags": {
        "plotting": {
            "enable": true,
            "advanced_info": false
        },
        "auto_ending": true,
        "dark_result_saving": true,
        "preserve_distributions": false,
        "fields_calculation": false
    },
    "advanced_settings": {
        "runtime": {
            "find_relative_time": true,
            "light_impulse": {
                "consider_fixed_time": true,
                "fixed_time_ps": 5000
            },
            "dark_impulse": {
                "for_stages": [3],
                "consider_fixed_time": true,
                "fixed_time_ps": 55e6
            },
            "ending_condition": {
                "chunk_size": 1000,
                "equal_values_to_stop": 5,
                "deviation": 1e-4
            }
        },

        "transient": {
            "window_size": 10,
            "window_size_denominator": null,
            "criteria_calculating_df_slice": {"start": null, "stop": null, "step": null}
        },
        "result": {
            "select_mean_dataframe": true,
            "dataframe": {
                "time": true,
                "source_current": true,
                "current_density": true
            },
            "mean_dataframe": {
                "time": true,
                "current_density": true
            }
        }
    },
    "paths": {
        "treada_core": {
            "exe": "TreadaTx_C\\TreadaTx_C.exe",
            "mtut": "TreadaTx_C\\MTUT"
        },
        "input": {
            "udrm": "data\\input\\UDRM.txt",
            "state": "wrapper\\states\\current_state.json",
            "mtut_dataframe": "data\\input\\mtut_dataframe.csv",
            "states": "wrapper\\states\\current_states.json"
        },
        "result": {
            "main": "data\\result\\res_.txt",
            "plots": "data\\result\\plots\\res_.txt",
            "temporary": {
                "raw": "data\\result\\temp\\raw\\treada_raw_output.txt",
                "distributions": "data\\result\\temp\\distributions\\"
            }
        },
        "scenarios": "data\\input\\scenarios",
        "resources": "wrapper\\resources"
    },
    "distribution_filenames": ["MSRS", "MTDRIV", "MTOKI", "MTOV", "MTUT"]
}