{
    "scenario": {
        "active_name": "dark_light_dark_scenario"
    },
    "modes": {
        "udrm_vector_mode": false,
        "mtut_dataframe": false
    },
    "options": {
        "auto_ending": true,
        "dark_result_saving": true,
        "preserve_distributions": true,
        "remove_old_distributions": true,
        "fields_calculation": false
    },
    "advanced_settings": {
        "runtime": {
            "find_relative_time": true,
            "light_impulse": {
                "consider_fixed_time": true,
                "fixed_time_ps": 1e7
            },
            "dark_impulse": {
                "for_stages": [1,3],
                "consider_fixed_time": true,
                "fixed_time_ps": 1e8
            },
            "ending_condition": {
                "chunk_size": 1000,
                "equal_values_to_stop": 20,
                "deviation": 1e-5
            },
            "distributions": {
                "enable_preserving_ranges": true,
                "preserving_ranges": {
                    "2": {"start": 0, "stop": 1e7, "step": 1e7}
                }
            }
        },
        "transient": {
            "window_size": 10,
            "window_size_denominator": null,
            "criteria_calculating_df_slice": {"start": null, "stop": null, "step": null}
        },
        "result": {
            "select_mean_dataframe": false,
            "dataframe": {
                "time": true,
                "source_current": true,
                "current_density": true,
                "custom": {"name": "U", "multiplier": 50}
            },
            "mean_dataframe": {
                "time": true,
                "current_density": true
            },
            "extra_variables": []
        }
    },
    "plotting": {
        "enable": true,
        "advanced_info": false,
        "join_stages": [2, 3],
        "y_column": "custom"
    },
    "paths": {
        "treada_core": {
            "exe": "TreadaTx_C\\TreadaTx_C.exe",
            "mtut": "TreadaTx_C\\MTUT"
        },
        "input": {
            "udrm": "data\\input\\UDRM.txt",
            "state": "wrapper\\states\\current_state.json",
            "mtut_dataframe": "data\\input\\mtut_dataframe.csv",
            "states": "wrapper\\states\\current_states.json"
        },
        "result": {
            "main": "data\\result\\res.txt",
            "plots": "data\\result\\plots\\res_.txt",
            "temporary": {
                "raw": "data\\result\\temp\\raw\\treada_raw_output.txt",
                "distributions": "data\\result\\temp\\distributions\\"
            }
        },
        "scenarios": "data\\input\\scenarios",
        "resources": "wrapper\\resources"
    },
    "distribution_filenames": ["MSRS", "MTDRIV", "MTOKI", "MTOV", "MTUT"]
}